<div class="marginOnSides">
    <div>
        <div>
            <h1 class="title">
                About
            </h1>
        </div>
        <div>
            <span>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos itaque architecto, natus dolorum ab dolore inventore ducimus expedita sapiente molestiae molestias, ipsa saepe sunt veniam perferendis a odit amet velit!  
            </span>
        </div>
    </div>
</div>