<div class="marginOnSides">
    <div>
        <h1 class="title">
            Contact
        </h1>
    </div>
    <div class="container">
        <div class="columns" id="contactBorder">
            <div class="column col-6">
                <p>
                    Email: kevin.karlsson255@gmail.com
                </p>
            </div>
            <div class="column col-6">
                <p>
                    Phone: 070-26 82 799
                </p>
            </div>
            <div class="column col-6">
                <p>
                    linkedin: --
                </p>
            </div>
            <div class="column col-6">
                <p>
                    --
                </p>
            </div>
        </div>
    </div>
</div>