<div class="marginOnSides">
    <h1 class="title">
        Welcome to Devin
    </h1>
    <div class="container">
        <div class="columns">
            <div class="column col-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum commodi fuga, facere consequatur maiores excepturi nam. Laudantium nesciunt accusamus dolor autem architecto, officia ipsum voluptatum atque quo eveniet fugiat harum.
            </div>
            <div class="column col-6">
                <img src="/static/tempPic.png" alt="ProfilePicture" class="roundImage">
            </div>
            <div class="column col-12">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus recusandae cum odit, dolorum totam eaque consequatur vero qui fugit natus dolore, possimus, quibusdam accusantium eveniet consequuntur veniam quis quas! Natus!
            </div>
        </div>
    </div>
</div>
