<div class="marginOnSides">
    <div class="title">
        <h1>
            500!
        </h1>
    </div>
    <div>
        <h2>
            Server encountered unexpected error.
        </h2>
    </div>
    <div>
        <a href="/home" class="btn btn-primary round-corners">Home</a>
    </div>
</div>